node_modules/
.env
database.sqlite
database.sqlite-wal
database.sqlite-shm
.DS_Store
dist/
build/
Session\ Commands/

# Exclude all markdown files except README and CHANGELOG
*.md
!README.md
!CHANGELOG.md

# Config
.env
!.env.example

# Ignore VSCode settings
.vscode/
